.header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5%;
}

.nav .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.title h2 {
  font-size: 1.6rem;
}

.nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.links li {
  padding: 0 12px;
}

.navLink {
  text-decoration: none;
  color: rgb(57, 103, 202);
}

.links li .active-link:focus {
  text-decoration: underline;
}
